<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>items</key>
  <array>
    <dict>
      <key>assets</key>
      <array>
        <dict>
          <key>kind</key>
          <string>software-package</string>
          <key>url</key>
          <string>http://dn720707.ca.archive.org/0/items/iOSObscura/iOS%205/com.pandora/Pandora-%28com.pandora%29-5.1-%28iOS_5.0%29-bb1770fb659b5933ffcd327e4a7222f1.ipa</string>
        </dict>
      </array>
      <key>metadata</key>
      <dict>
        <key>bundle-identifier</key>
        <string>com.pandora</string>
        <key>bundle-version</key>
        <string>5.1</string>
        <key>kind</key>
        <string>software</string>
        <key>title</key>
        <string>Pandora</string>
      </dict>
    </dict>
  </array>
</dict>
</plist>
